doctype html
html(lang="en")
    head
        title= SaoLei
        link(href='index.css',rel='stylesheet')
        script(src='jquery-2.2.1.js',defer)
        script(src='index.js',defer)
    body
        #container
            .block
        #ani
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            .particle
            //.particle_test
